---
layout: default
title: Puzzles
width: 700px
---

<div class="section-header">Puzzles</div>

<p>I enjoy puzzle hunts, and I've written puzzles for various hunts over the years. I write for the <a href="http://www.galacticpuzzlehunt.com/">Galactic Puzzle Hunt</a>, an annual online puzzle hunt that I help run and organize. I have a fondness for unusual, interactive puzzles that test the solver on entirely new skills. I've also developed some tools to assist in solving some standard puzzle types.</p>

<p>I wrote a <a href="/puzzles/retrospective">reflection</a> on my experiences running the 2021 Mystery Hunt.</p>

<p style="color: #933; font-size: 0.85rem;">(This page is under heavy construction as I add stuff from Mystery Hunt. Sorry for the mess!)</p>

<div class="section-header">My Favorites</div>
{% include thumbnail_list.html content='favorite_puzzles' %}

<div class="section-header">Puzzle Tools</div>
{% include thumbnail_list.html content='puzzle_tools' %}

<div class="section-header">Other Puzzles</div>
{% include thumbnail_list.html content='other_puzzles' %}
