---
layout: default
title: Home
width: 700px
---

<p style="margin-top: 30px;">I'm currently working on <b>Galactic Diner</b>, about an intergalactic cooking tournament where the customer is always right. Play dozens of minigames, try exotic dishes, meet new friends, and go head-to-head with other chefs! (Hopefully coming out in 2022!)</p>

<p>Other stuff I've worked on recently:</p>

<div class="section-header">Games</div>
{% include thumbnail_list.html content='games' %}

<div class="section-header">Other Projects</div>
{% include thumbnail_list.html content='other_projects' %}
