---
layout: default
title: Home
width: 700px
---

<p style="margin-top: 30px;">Hi, I'm Nathan.</p>

<p>I'm currently working on <a href="https://www.dinergame.com">Galactic Diner</a>, about an intergalactic cooking tournament where the customer is always right. Play dozens of minigames, explore an alien world, meet new friends, and go head-to-head with other chefs!</p>

<p>Please consider <a href="steam://advertise/1950230">wishlisting on Steam</a> if you're at all interested! It helps the algorithm smile more upon me 🙂</p>

<p>Other stuff I've worked on recently:</p>

<div class="section-header">Games</div>
{% include thumbnail_list.html content='games' %}

<div class="section-header">Other Projects</div>
{% include thumbnail_list.html content='other_projects' %}
