/* Utils */
:root {
    --green: #6aaa64;
    --darkenedGreen: #538d4e;
    --yellow: #c9b458;
    --darkenedYellow: #b59f3b;
    --lightGray: #d8d8d8;
    --gray: #86888a;
    --darkenedGray: #939598;
}

.button-gray { background-color: var(--gray); }
.button-yellow { background-color: var(--yellow); }
.button-green { background: var(--green); }



/* Styling */

* {
    font-family: 'Open Sans', serif;
}

body {
    font-size: 24px;
}

h1 {
    text-align: center;
    margin: 50px 0px 10px 0px;
    font-family: 'Gentium Basic', serif;
    color: #333;
}

.board-container {
    margin: auto;
    margin-top: 50px;
}

.hard-mode {
    text-align: center;
    font-size: 1rem;
    color: gray;
}

.board {
    width: 320px;
    max-width: 70%;  /* for phones */
}

.board-row {
    margin-bottom: 5px;
    display: flex;
    align-items: center;

}

.board-tile-container {
    display: flex;
}

.current .board-tile:hover {
    opacity: 0.85;
    transition: 0.2s all;
}

.board-submit {
    font-family: 'Clear Sans', 'Helvetica Neue', Arial, sans-serif;
    font-size: 1.5rem;
    background-color: var(--green);
    color: white;
    padding: 10px 17px;
    margin-left: 10px;
    border-radius: 999px;
 
    transform: scale(1);
    transition: 0.2s all;
}

.board-submit:hover {
    transform: scale(1.07);
    transition: 0.2s all;
}

.fg {
    flex-grow: 1;
    width: 50px;
}

.board-ev {
    font-size: 1.2rem;
    color: gray;
    cursor: help;
    text-align: right;
    margin-right: 10px;
}

.board-tile {
    font-size: 2rem;
    width: 100%;
    height: 60px;
    width: 60px;
    margin: 0 2.5px;

    transition: 0.2s all;

}

button {
    font-family: 'Clear Sans', 'Helvetica Neue', Arial, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    color: white;
    border: none;
    cursor: pointer;
}

button:disabled {
    background: lightgray;
}

#credits {
    margin: 30px 0px;
    color: #BBB;
    text-align: center;
    font-style: italic;
    font-size: 1.0rem;
}

#credits a {
    text-decoration: none;
    color: #cc2727;
}

#credits a:hover {
    color: #ee4949;
}
