* {
    font-family: 'Open Sans', serif;
}

:root {
    --green: #6aaa64;
    --darkenedGreen: #538d4e;
    --yellow: #c9b458;
    --darkenedYellow: #b59f3b;
    --lightGray: #d8d8d8;
    --gray: #86888a;
    --darkenedGray: #939598;
}

/*
this CSS is really hacky.
look at the original wordle CSS instead, it's much better written
*/

body {
    font-size: 24px;
}

h1 {
    text-align: center;
    margin: 50px 0px;
    font-family: 'Gentium Basic', serif;
    color: #333;
}

.button-gray {
    background: var(--gray);
}

.button-yellow {
    background: var(--yellow);
}

.button-green {
    background: var(--green);
}

.board-container {
    width: 320px;
    position: relative;
    margin: auto;
}

.board {
    width: 320px;
    justify-content: center;
    align-items: center;
}

.board-row {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 5px;
    height: 60px;
    margin-bottom: 5px;
}

.board-submit {
    position: absolute;
    bottom: 10px;
    right: -50px;
    font-family: 'Clear Sans', 'Helvetica Neue', Arial, sans-serif;
    font-size: 1.5rem;
    width: 40px;
    height: 40px;
    border-radius: 999px;
    background: var(--green);
    color: white;
    line-height: 2.5rem;
}

.board-ev {
    position: absolute;
    bottom: 16px;
    font-size: 1.2rem;
    color: gray;
    right: calc(100% + 20px);
    cursor: help;
}

.board-tile {
    display: inline-flex;
    font-size: 2rem;
    justify-content: center;
    align-items: center;
}

button {
    font-family: 'Clear Sans', 'Helvetica Neue', Arial, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    color: white;
    border: none;
    cursor: pointer;
}

button:disabled {
    background: lightgray;
}

#credits {
    margin: 30px 0px;
    color: #BBB;
    text-align: center;
    font-style: italic;
    font-size: 1.0rem;
}

#credits a {
    text-decoration: none;
    color: #cc2727;
}

#credits a:hover {
    color: #ee4949;
}
