<div id="imageModal" class="modal">
    <div class="close">x</div>
    <img class="modal-content"></img>
</div>

<script type="text/javascript">

var modal = document.getElementById("imageModal");
var modalImg = document.getElementsByClassName("modal-content")[0];

var modalShow = (img) => {
    modal.style.display = 'block';
    modalImg.src = img.src;
}

// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];

// When the user clicks on <span> (x), close the modal
span.onclick = function() {
  modal.style.display = "none";
}
</script>
